#linkedin {
    color: #0072B1
}
#facebook {
    color: #3B5998
}
#twitter {
    color: #00ACEE
}

#instagram {
    background: -webkit-linear-gradient(-45deg, #515BD4, #8134AF, #DD2A7B, #FEDA77, #F58529);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}